/**********************

COMMON

***********************/

body {
    font-family: 'monospace', sans-serif;
}

.font-primary {
    color: #f4c2c2;
}

.title-icon {
    font-size: 20px;
    font-weight: bold;
}

/*************************

ABOUT

**************************/

#about {
    margin: 60px auto;
    max-width: 400px;
    text-align: center;
}

#about img {
    border-radius: 50%;
    width: 120px;
    margin-bottom: 10px;
}

#about .name {
    font-size: 19px;
    color: #986868;
}

#about .vocation {
    font-size: 17px;
    color: #000;
    margin-bottom: 10px;
}

#about .skills {
    font-size: 14px;
    color: #f4c2c2;
    margin-bottom: 10px;
}

#about .email {
    margin-top: 14px;
    font-size: 14px bold;
    color: #986868

}

#about .icons {
    margin-top: 20px;
    font-size: 30px;
}

#about  .icons a {
    color: #f4c2c2;
}